name: CI

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'URL'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 0
    - uses: ruby/setup-ruby@v1
      with:
          ruby-version: ruby
    - uses: actions/setup-python@v4
      with:
          python-version: '3.x'
    - name: Setup Environment
      run: |
        sudo apt install python3-pip
    - name: Setup rclone
      uses: AnimMouse/setup-rclone@v1
      with:
        rclone_config: ${{ secrets.RCLONE_CONFIG }}
    - name: Setup yt-dlp with ffmpeg
      uses: AnimMouse/setup-yt-dlp@v3

    - name: CFW
      run: |
        curl -fsSL https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --yes --dearmor --output /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list
        sudo apt-get update && sudo apt-get install cloudflare-warp
        warp-cli --accept-tos registration new
        warp-cli --accept-tos connect

    - name: DL
      run : yt-dlp -i --merge-output-format mkv -o "%(title)s %(upload_date>%d-%m-%Y)s.%(ext)s" -f "bv*[height<=1100]+ba/b[height<=1100]" --write-subs --write-auto-subs --embed-subs --sub-langs en,hi --convert-subs srt --compat-options no-keep-subs --embed-chapters "${{ inputs.url }}"

    - name: CV
      run : |
        warp-cli --accept-tos disconnect
        ls
        for f in *.mkv; do
          ffmpeg -threads 4 -i "$f" -threads 4 -map 0 -filter:v "crop=1440:1080:240:0" -c:a copy -c:s copy "tmp_$f" &&
          mv -f "tmp_$f" "$f"
        done
        for f in *.mkv; do
          ffprobe -v error -select_streams v:0 -show_entries stream=width,height -of csv=s=x:p=0 "$f"
        done
        
    - name: UL
      run: rclone copy . remote:/ --include="*.mkv" -P --stats 1s -v --stats-one-line
