name: CI

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 0
    - uses: ruby/setup-ruby@v1
      with:
          ruby-version: ruby
    - uses: actions/setup-python@v6
      with:
          python-version: '3.x'
    - name: Setup Environment
      run: |
        sudo apt install python3-pip
        curl https://getcroc.schollz.com | bash
    - name: Setup rclone
      uses: AnimMouse/setup-rclone@v1
      with:
        rclone_config: ${{ secrets.RCLONE_CONFIG }}
    - name: Setup deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: vx.x.x
    - name: Setup yt-dlp with ffmpeg
      uses: AnimMouse/setup-yt-dlp@v3
    - name: Setup warp
      run: |
        curl -fsSL https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --yes --dearmor --output /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list
        sudo apt-get update && sudo apt-get install cloudflare-warp
        warp-cli --accept-tos registration new
        warp-cli --accept-tos connect
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3

